<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IT-Handson - Server side</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:href="${styles}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">IT-HANDSON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/produto}">Produto</a>
            </li>
        </ul>
    </div>
</nav>
<div style="margin-top:1.2em;">
    <micro-app-produto></micro-app-produto>
</div>
<script th:src="${polyfills}"></script>
<script th:src="${scripts}"></script>
<script th:src="${rutnime}"></script>
<script th:src="${vendor}"></script>
<script th:src="${main}"></script>
</body>
</html>